    .nadpis{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 5rem;
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 5em;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, #8b0000, #fff, #4d0101);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 5s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
      
      @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
      }