univerzita,
fakulta,
V-katedra,
obor,
typ,
forma,
rok_zahajeni,
studentske_cislo,
aktualni_rok,
predmet {
    display: none;
}

predmet[id="KIPIN"]{
    display: table;
      width: 80%;
    border: 3px solid black;
    margin-top: 20px;
}