univerzita,
fakulta,
V-katedra,
obor,
typ,
forma,
rok_zahajeni,
studentske_cislo,
aktualni_rok,
rocnik {
    display: none;
}
semestr {
    display: none;
}
semestr[semid="r1z"] {
    display: table;
    width: 80%;
    border: 3px solid black;
    margin-top: 20px;
}

rok {
    display: flex;
    justify-content: center;
}

predmet {
    display: table-row;
    height: 50px;
  
}

nazev,
garant,
typ_zakonceni,
kredity,
znamka,
uspesne_zakoncen,
volitelny,
katedra {
    display: table-cell;
    border: 0.1px solid  black;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    background: #ccc;
}