univerzita,
fakulta,
V-katedra,
obor,
typ,
forma,
rok_zahajeni,
studentske_cislo,
aktualni_rok,
rocnik
nazev,
garant,
typ_zakonceni,
kredity,
znamka,
uspesne_zakoncen,
volitelny,
katedra {
    display: none;
}

nazev {
    padding: 10px;
    display: list-item;
    list-style: disc inside;
}